.filter-container {
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.filter-group {
    display: flex;
    align-items: center;
    column-gap: 16px; /*대학교와 select태그 사이의 간격*/
}

.filter-group-name {
    font-size:x-large;
}

/*select 태그 커스텀*/
.select-box {
    background:url('/img/down-arrow.png') no-repeat 97% 50%/15px auto;
}
select { 
    padding-left: 14px;
    width: 250px;
    height: 50px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    background: transparent;
}
select::-ms-expand{
    display:none;/*for IE10,11*/
}

.search-btn {
    height: 90px;
    width: 90px;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-btn:hover {
    background-color: rgb(249, 249, 249);
    transition: 0.7s;
}