/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

.filter-container {
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    padding-left: 9rem;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.filter-group {
    display: flex;
    align-items: center;
    column-gap: 16px; /*대학교와 select태그 사이의 간격*/
}

.filter-group-name {
    font-size:x-large;
}

/*select 태그 커스텀*/
.select-box {
    background:url('/img/down-arrow.png') no-repeat 97% 50%/15px auto;
}
select { 
    padding-left: 14px;
    width: 250px;
    height: 50px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    background: transparent;
}
select::-ms-expand{
    display:none;/*for IE10,11*/
}

.search-btn {
    height: 90px;
    width: 90px;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.7s;
}
.search-btn:hover {
    background-color: rgb(236, 236, 236);
    transition: 0.7s;
}
.under-btn {
    display: none;
}
.post-container {
    flex-wrap: wrap;
    row-gap: 2rem;
    display: flex;
    padding-top: 120px;
    padding-left: 110px;
    padding-right: 110px;
    justify-content: space-between;
}
.post-group {
    border-radius: 4px;
    height: 210px;
    background-color:white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.post-detail {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
}
.detail-item:nth-child(1) {
    margin-left: 2rem;
}
.detail-item::after {
    margin-left: 12px;
    margin-right: 12px;
    content: "ㅣ";
    font-weight: lighter;
}
.detail-item:last-child:after {
    content: "";
}

.detail-btn {
    position: relative;
    top: 4.5rem;
    right: 1rem;
}
.bx-burst-hover:hover {
    color: #347D51;
}


@media screen and (max-width: 1440px) {
    .filter-container {
        margin-left: 128px;
        margin-right: 128px;
        padding-left: 1rem;
    }
    .post-container {
        flex-wrap: wrap;
        row-gap: 90px;
        padding-left: 170px;
        padding-right: 170px;
    }
}

@media screen and (max-width: 1180px) {
    .filter-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .filter-group-name {
        font-size: medium;
    }
    .post-container {
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
    }
}
/* 태블릿 */
@media screen and (max-width:834px) {
    .post-group {
        flex-wrap: wrap;
        column-gap: 2rem;
        width: -webkit-fill-available;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .detail-btn {
        left: 8rem;
    }
}

/* 모바일 */
@media screen and (max-width: 500px) {
    .filter-container {
        flex-wrap: wrap;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .filter-group {
        column-gap: 2rem;
        row-gap: 2rem;
    }
    .filter-group-name {
        width: 48px;
    }
    .under-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    .search-btn-2 {
        width: 48px;
        border-radius: 7px;
        border: 0;
        height: 36px;
    }
    .search-btn {
        display: none;
    }
    .post-container {
        padding-top: 80px;
    }
    .detail-btn {
        display: none;
    }
    .post-group:hover {
        background-color: rgb(246, 246, 246);
    }
}